/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
\#*\#
.\#*
.cljs_nashorn_repl/
.cpcache/
cljs-test-runner-out/
nashorn_code_cache/
/bin/release/
.cache
.calva
.idea/
*.iml