{:paths ["src"]
 :deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.439"}
        org.clojure/test.check {:mvn/version "0.10.0-alpha3"}}
 :aliases {:test {:extra-paths ["test"]
                  :extra-deps {org.clojure/test.check {:mvn/version "0.10.0-alpha3"}
                               com.cognitect/test-runner {:git/url "https://github.com/healthfinch/test-runner"
                                                          :sha "1d0cb97a14152959cdb7c1e8539a1759a1663f5b"}}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
